.article-container{
    margin-top: 30px;
    padding: 0px 10px;
    background-color: #DCCFEC;
    border-top: solid #4F517D 5px;
}
.article-header{
}
.article-title{
    border-bottom: solid #4F517D 1px;
    margin-bottom: 0px;
}
.article-author{
    color: #555555;
    display: inline;
}
.article-date{
    color: #555555;
    display: inline;
}
.article-content{
    margin: 20px;
}